.steps-wrapper {
    background-image: url("../../../Assets/Images/trading-hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.home-steps-numbers {
    border: 2px solid white;
    border-radius: 50%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-steps-numbers h1 {
    font-size: 70px;
}

@media only screen and (max-width: 768px) {
    .steps-wrapper {
        display: none;
    }
}